<div class="flex justify-center items-center h-[100vh] w-full bg-white1">
  <div class="flex shadow-3x rounded-lg overflow-hidden">
    <div class="w-[600px] h-[600px] bg-green1 flex">
      <div class="m-auto flex flex-col items-center">
        <div class="bg-white rounded-[34px] p-4">
          <img src="assets/logo/taxi-logo.svg" width="180" height="180">
        </div>
        <span class="text-white text-6xl font-bold mt-3">GoP</span>
      </div>
    </div>
    <div class="p-6 flex flex-col items-center justify-center bg-white">
      <div class="text-2xl mb-3 font-bold">Login</div>
      <form nz-form [formGroup]="formLogin" class="login-form max-w-[350px] w-[300px]" (ngSubmit)="onLoginWithForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="email"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin mb-4 items-center">
          <div>
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin mb-2 w-full" [nzType]="'primary'">Log in</button>
        <div class="flex justify-between">
          <a>Register now! </a>
          <a class="login-form-forgot float-right">Forgot password</a>
        </div>
      </form>
    </div>
  </div>
</div>
