#widget-chart-card{
    padding: 20px 10px;
    .card{
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px, #f2f2f4 0px 0px 0px 2px;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .up, .arrow-up{
            color: var(--increases-value-color);
        }
        .down, .arrow-down{
            color: var(--decreases-value-color);
        }
        span,i{
            font-size: 16px;
        }
        h1{
            font-weight: 600;
            margin: 0;
            line-height: 20px !important;
        }
        .content{
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                align-items: center;
            }
        }
    }
}
