<app-loader [progress]="progress"></app-loader>
<div id="form-driver-register" class="flex justify-center items-center h-full">
  <div class="bg-slate-100 shadow-3x flex flex-col justify-center rounded-2xl py-5 px-7">
    <div class="mb-5 font-bold text-3xl">Đăng ký tài khoản tài xế</div>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng cung cấp họ và tên">
          <label for="fullname">Fullname<span class="text-red">*</span></label>
          <input id="fullname" type="text" nz-input nzSize="large" formControlName="fullname" class="w-full rounded-lg"
            placeholder="fullname">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng cung cấp chính xác số điện thoại" [nzValidateStatus]="phoneValidateStatus"
          [nzHasFeedback]="verifyOTP">
          <label for="phoneNumber">Phone number <span class="text-red">*</span></label>
          <nz-input-group nzSize="large" [nzAddOnAfter]="sendOTPtoPhone">
            <input id="phoneNumber" type="text" nz-input formControlName="phone" class="w-full rounded-lg"
              placeholder="phone number">
            <ng-template #sendOTPtoPhone>
              <div class="flex justify-center items-center cursor-pointer text-gray-400 w-12" (click)="showModal()">
                <span *ngIf="isSendOTP" nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
                <span *ngIf="!isSendOTP">Gửi mã</span>
              </div>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Mật khẩu có ít nhất 8 ký tự gồm chữ thường, hoa, số, ký tự đặc biệt">
          <label for="password">Password<span class="text-red">*</span></label>
          <nz-input-group nzSize="large" [nzAddOnAfter]="showPassword">
            <input id="password" [type]="hidePassword ? 'password' : 'text'" nz-input formControlName="password"
              class="w-full rounded-lg" placeholder="password">
            <ng-template #showPassword>
              <div class="cursor-pointer text-gray-400 rounded-r-lg w-12" (click)="hidePassword = !hidePassword">
                <i class="fa-solid" [ngClass]="hidePassword ? ' fa-eye' : ' fa-eye-slash'"></i>
              </div>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng cung cấp chính xác số điện thoại">
          <label>Service<span class="text-red">*</span></label>
          <nz-select nzSize="large" formControlName="vehicle">
            <nz-option nzValue="bike" nzLabel="Bike"></nz-option>
            <nz-option nzValue="car" nzLabel="Car"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <button class="w-full hover:shadow-2x bg-red text-white p-2 font-medium text-lg rounded mb-2">Sign up</button>
      <a [routerLink]="[ '/auth/driver','login' ]">
        <div
          class="w-full hover:shadow-2x bg-primary text-white p-2 font-medium text-lg rounded cursor-pointer text-center">
          Login
        </div>
      </a>
    </form>
  </div>
</div>
<app-verify-otp [isVisible]="showModalOTP" (showModal)="closeModal($event)" (phoneVerified)="verifyPhone($event)"
  [phoneNumber]="form.controls.phone.valid ? form.controls.phone.value : ''"
  (sendOTP)="sendOTP($event)"></app-verify-otp>
