<div id="side-bar"
  class="relative max-w-[250px] h-full max-h-[calc(100vh-78px)] flex flex-col justify-between pb-[50px] shadow-1x transition-all"
  [ngClass]="isOpen ? 'w-[250px]' : 'w-0'">
  <div
    class="absolute flex justify-center items-center top-[50%] -right-4 w-4 h-20 border-2 border-solid border-l-0 border-[#ebebed] -translate-y-[50%] cursor-pointer rounded-tr-[20px] rounded-br-[20px]"
    (click)="isOpen = !isOpen">
    <i class="fa-solid !m-0 text-grey" [ngClass]="isOpen ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </div>
  <ul *ngIf="isOpen" class="m-0 p-0">
    <a [routerLink]="['dashboard']">
      <li [ngClass]="{'active': isActive === 'dashboard' }" (click)="setActive('dashboard')">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      </li>
    </a>
    <a [routerLink]="['users']">
      <li [ngClass]="{'active': isActive === 'users' }" (click)="setActive('users')">
        <i class="fa-regular fa-user"></i>
        <span>Users</span>
      </li>
    </a>
    <a [routerLink]="['trips']">
      <li [ngClass]="{'active': isActive === 'trips' }" (click)="setActive('trips')">
        <i class="fa-solid fa-map-location-dot"></i>
        <span>Trips</span>
      </li>
    </a>
  </ul>
  <ul *ngIf="isOpen" class="m-0 p-0">
    <!-- <li class="text-grey cursor-pointer">
      <i class="fa-solid fa-gear"></i>
      <span>Settings</span>
    </li> -->
    <li class="text-grey cursor-pointer" (click)="doLogout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Logout</span>
    </li>
  </ul>
</div>