<div id="sidebar" [ngClass]="{'opend': isSidebarOpen,  'closed': !isSidebarOpen}">
    <div class="close-button" (click)="handleSideBar()">
        <mat-icon>{{chevronIcon}}</mat-icon>
    </div>
    <ul>
        <div class="user-avatar">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="avatar">
        </div>
        <a routerLink="/management/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            <li>
                {{ isSidebarOpen ? 'Dashboard' : '' }}
                <mat-icon *ngIf="!isSidebarOpen">dashboard</mat-icon>
            </li>
        </a>
        <a routerLink="/management/users" routerLinkActive="active" ariaCurrentWhenActive="page">
            <li>
                {{ isSidebarOpen ? 'Tài khoản người dùng' : '' }}
                <mat-icon *ngIf="!isSidebarOpen">account_circle</mat-icon>
            </li>
        </a>
    </ul>
</div>
<router-outlet></router-outlet>
