<header id="header">
    <div class="header-item left">
        <div class="logo">
            <img src="../../../../assets/logo/taxi-logo.png" alt="logo" width="108" height="36">
        </div>
    </div>
    <div class="header-item right">
        <div class="right-item email">
            <mat-icon>mail_outline</mat-icon>
        </div>
        <div class="right-item notifications">
            <mat-icon>notifications</mat-icon>
        </div>
        <div class="right-item user-avatar">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="user" width="48" height="48">
        </div>
    </div>
</header>
