<div class="px-9 py-4">
  <app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
  <div class="w-full flex flex-col">
    <div class="flex gap-5 items-center">
      <div class="w-40 h-40 rounded-[50%]">
        <img [src]="'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'" class="w-full h-full">
      </div>
      <div class="flex flex-col ">
        <div><nz-tag [nzColor]="'cyan'">customer</nz-tag></div>
        <div>
          <span class="font-bold">Name:</span> Trinh Phuc
        </div>
        <div>
          <span class="font-bold">Email:</span> phuc@gmail.com
        </div>
        <div>
          <span class="font-bold">Phone:</span>  0987654321
        </div>
        <div>
          <span class="font-bold">Location:</span>  Tp.HCM
        </div>
      </div>
    </div>
    <div>
      <div class="mb-4 flex items-end flex-col w-full">
        <div>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Tiềm kiếm người dùng" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
      </div>
      <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      class="shadow-1x pt-4 px-4 rounded" nzShowPagination="false">
      <thead>
        <tr>
          <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th *ngFor="let item of listHeadTable">{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.date }}</td>
          <td>{{ data.driver_id }}</td>
          <td>{{ data.source_address }}</td>
          <td>{{ data.destiny_address }}</td>
          <td>
            {{ data.fare }} VND
          </td>
          <td>
            <div class="flex justify-center items-center">
              <a [routerLink]="['journeys',data.id]">
                <button
                  class="flex justify-center items-center w-8 h-8 text-green mr-2 border border-solid border-green rounded p-3">
                  <i class="fa-regular fa-eye"></i>
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
  </div>
</div>
