<app-loader [progress]="progress"></app-loader>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add new order" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" class="w-full flex flex-col gap-2">
      <nz-form-item nzFlex>
        <nz-form-control nzErrorTip="Please input customer's phone number and not start with zero" class="w-full">
          <label class="text-gray-500">Số điện thoại khách hàng<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="userPhoneNumber" placeholder="phone number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzFlex>
        <nz-form-control nzErrorTip="Please input your source address!" class="w-full relative">
          <label class="text-gray-500">Điểm đón<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="source_address" placeholder="source_address"
            (input)="getSrcLocation()" />
          <div class="absolute top-full left-0 z-10 bg-white right-0">
            <ul *ngFor="let item of listSrcAddress">
              <li class="cursor-pointer text-ellipsis p-2 border-b border-solid border-gray-300"
                (click)="selectSourceAddress(item.display_name, item.lat, item.lon)">{{ item.display_name }}</li>
            </ul>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your destination address!" class="w-full relative">
          <label class="text-gray-500">Điểm đến<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="destination_address" placeholder="destination_address" (input)="getDesLocation()">
          <div class="absolute top-full left-0 z-10 bg-white right-0">
            <ul *ngFor="let item of listDesAddress">
              <li class="cursor-pointer text-ellipsis p-2 border-b border-solid border-gray-300"
                (click)="selectDesinationAddress(item.display_name, item.lat, item.lon)">{{ item.display_name }}</li>
            </ul>
          </div>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-control nzErrorTip="Please input your source location lat!" class="w-full">
          <label class="text-gray-500">Kinh độ của điểm đón<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="source_location_lat" placeholder="source_location_lat" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your source location long!" class="w-full">
          <label class="text-gray-500">Vĩ độ của điểm đón<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="source_location_long" placeholder="source_location_long" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your destination location lat!" class="w-full">
          <label class="text-gray-500">Kinh độ của điểm đến<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="destination_location_lat"
            placeholder="destination_location_lat" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your destination location long!" class="w-full">
          <label class="text-gray-500">Vĩ độ của điểm đến<span class="text-red">*</span></label>
          <input type="text" nz-input formControlName="destination_location_long"
            placeholder="destination_location_long" />
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-control>
          <label class="text-gray-500">Loại phương tiện<span class="text-red">*</span></label>
          <nz-select nzSize="large" formControlName="vehicle_type">
            <nz-option nzValue="bike" nzLabel="Bike"></nz-option>
            <nz-option nzValue="car" nzLabel="Car"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<div id="getDistanceBasedOnMap" class="hidden"></div>
