/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* reset default style */
:root {
  --background-color: #fff;
  --sidebar-hover-color: #f1f1f5;
  --main-color: #4a40e7;
  --error-color: #ef5350;
  --increases-value-color: #42cd74;
  --decreases-value-color: #ef3e3e;
  --text-color: #9c9ca2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  background-color: #fafafb;
  font-family: "Roboto", sans-serif;
}
button {
  outline: none;
  border: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
