@tailwind base;
@tailwind components;
@tailwind utilities;
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* reset default style */
:root {
  --main-color: #4a40e7;
  --sidebar-hover-color: #f1f1f5;
  --border-color: #e5e5e5;
  --error-color: #ef5350;
  --increases-value-color: #42cd74;
  --decreases-value-color: #ef3e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  @apply font-base text-base
}

body {
    background-color: #fff;
}
button {
  outline: none;
  border: none;
}
p{
  margin: 0 !important;
}
.ng-toast #close{
  align-self: center !important;
}
html, body { height: 100%; }
