<app-loader [progress]="progress"></app-loader>
<div class="px-9 py-4">
  <app-breadcrumb *ngIf="breadcrumbDisplay" [breadcrumb]="breadcrumbObj"></app-breadcrumb>
  <div (click)="goBackURL()" class="cursor-pointer ">
    <i *ngIf="!breadcrumbDisplay" class="fa-solid fa-arrow-left text-xl"></i>
  </div>
  <div class="w-full flex flex-col">
    <div class="flex gap-5 items-center">
      <div class="w-40 h-40 rounded-[50%] overflow-hidden bg-black relative flex items-center justify-center">
        <img [src]="driverProfile?.avatar" class="object-contain">
      </div>
      <div class="flex flex-col ">
        <div><nz-tag [nzColor]="'cyan'">driver</nz-tag></div>
        <div>
          <span class="font-bold">Name:</span> {{ driverProfile?.fullname }}
        </div>
        <div>
          <span class="font-bold">Phone:</span> {{ driverProfile?.phone }}
        </div>
        <div>
          <span class="font-bold">Vehicle:</span> {{ driverProfile?.vehicle }}
        </div>
        <div>
          <button nz-button [nzLoading]="progress===100 ? false : true"
            class="rounded hover:shadow-xl flex items-centerfont-bold text-white" nzType="primary"
            (click)="showModal()">View
            Profile</button>
          <button class="rounded hover:shadow-xl flex items-center text-white mt-2 font-medium px-4 py-1" [ngClass]="isVerified ? 'bg-red' : 'bg-green'" (click)="verifyDriver()">{{ isVerified ? 'Khóa' : 'Kích hoạt' }}</button>
          <nz-modal [(nzVisible)]="isViewProfile" [nzTitle]='driverProfile?.fullname' (nzOnCancel)="handleCancel()"
            nzWidth="900px">
            <ng-container *nzModalContent>
              <div>
                <label class="text-xl font-medium">Vehicle</label>
                <div
                  class="w-[500px] h-[330px] overflow-hidden cursor-pointer mb-5 bg-slate-100 flex items-center justify-center"
                  (click)="previewImage(driverProfile?.vehicleImage)">
                  <img class="w-full h-auto" [src]="driverProfile?.vehicleImage"
                    onerror="this.src='assets/img/personal-information.png'">
                </div>
              </div>
              <div>
                <span class="text-xl font-medium">Identification</span>
                <div nz-row nzGutter="20">
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.identification_card_f)">
                    <img [src]="driverProfile?.identification_card_f" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.identification_card_b)">
                    <img [src]="driverProfile?.identification_card_b" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                </div>
              </div>
              <div>
                <span class="text-xl font-medium">Cavet</span>
                <div nz-row nzGutter="20">
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.Cavet_f)">
                    <img [src]="driverProfile?.Cavet_f" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.Cavet_b)">
                    <img [src]="driverProfile?.Cavet_b" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                </div>
              </div>
              <div>
                <span class="text-xl font-medium">License image</span>
                <div nz-row nzGutter="20">
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.license_image_f)">
                    <img [src]="driverProfile?.license_image_f" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                  <div class="overflow-hidden mb-5 cursor-pointer w-[416px] h-[280px] flex justify-center items-center"
                    nz-col nzSpan="24" nzLg="12" (click)="previewImage(driverProfile?.license_image_b)">
                    <img [src]="driverProfile?.license_image_b" class="w-full h-auto"
                      onerror="this.src='assets/img/personal-information.png'">
                  </div>
                </div>
              </div>
            </ng-container>
            <div *nzModalFooter>
              <button nz-button nzType="primary" (click)="handleCancel()"
                class="bg-red hover:bg-red border-red hover:border-red">Close</button>
            </div>
          </nz-modal>
          <nz-modal [(nzVisible)]="onPreviewImg" (nzOnCancel)="previewImage()" nzWidth="900px"
            [nzTitle]='driverProfile?.fullname'>
            <ng-container *nzModalContent>
              <div class="w-full h-auto">
                <img [src]="imgPreview" alt="Image" class="w-full h-auto">
              </div>
            </ng-container>
            <div *nzModalFooter>
              <button nz-button nzType="primary" (click)="previewImage()"
                class="bg-red hover:bg-red border-red hover:border-red">Close</button>
            </div>
          </nz-modal>
        </div>
      </div>
    </div>
    <div>
      <div class=" mb-4 flex items-end flex-col w-full">
        <div class="flex">
          <nz-select [(ngModel)]="searchOption" class="w-32 mr-2">
            <nz-option [nzLabel]="'Điểm đón'" [nzValue]="'source_address'"></nz-option>
            <nz-option [nzLabel]="'Điểm đến'" [nzValue]="'destination_address'"></nz-option>
          </nz-select>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [(ngModel)]="searchValue" nz-input (keydown.enter)="loadOrders()"
              placeholder="Tìm kiếm chuyến đi" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="loadOrders()">
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
      </div>
      <div nz-row nzGutter="20">
        <div *ngFor="let item of statistics" nz-col nzSpan="24" nzLg="8" class="mb-5">
          <app-widget-chart-card [title]="item.title" [percent]=item.percent
            [totalData]=item.totalData></app-widget-chart-card>
        </div>
      </div>
      <nz-table #rowSelectionTable #fixedTable [nzData]="listOfOrders.data"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzFrontPagination]="false"
        [nzTotal]="listOfOrders.totalElements" (nzPageIndexChange)="onPageChange($event)" [nzScroll]="{ x: '1400px'}"
        [nzPageIndex]="currentPage" class="shadow-1x py-4 px-4 rounded">
        <thead>
          <tr>
            <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"
              class="w-20"></th>
            <th class="w-20">Avatar</th>
            <th nzWidth="200px">User</th>
            <th nzWidth="150px">Phone</th>
            <th nzWidth="250px">Source address</th>
            <th nzWidth="250px">Destination address</th>
            <th nzWidth="150px">Fare</th>
            <th nzWidth="200px">Status</th>
            <th nzRight class="w-32">Action</th>
          </tr>
        </thead>
        <tbody class="relative">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.03)" size="default" color="#5850e6"
            type="ball-spin-clockwise-fade-rotating" [fullScreen]="false">
          </ngx-spinner>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>
              <div class="w-10 h-10 rounded-[50%] overflow-hidden bg-gray-500">
                <img [src]="data?.user?.avatar" class="w-full h-full">
              </div>
            </td>
            <td>{{ data.user?.fullname }}</td>
            <td>{{ data.user?.phone }}</td>
            <td>{{ data.source_address }}</td>
            <td>{{ data.destination_address }}</td>
            <td>
              {{ data.orderTotal.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}
            </td>
            <td>
              <nz-tag [nzColor]="getTagColor(data.orderStatus)">{{ data.orderStatus }}</nz-tag>
            </td>
            <td nzRight>
              <div class="flex justify-center items-center">
                <a [routerLink]="['trip-detail']" [queryParams]="{id: data.id}">
                  <button
                    class="flex justify-center items-center w-8 h-8 text-green mr-2 border border-solid border-green rounded p-3">
                    <i class="fa-regular fa-eye"></i>
                  </button>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
