<div id="form-driver-login" class="flex justify-center items-center h-full">
  <div class="bg-slate-100 shadow-3x flex flex-col justify-center rounded-2xl py-5 px-7">
    <div class="mb-5 font-bold text-3xl">Đăng nhập</div>
    <form nz-form [formGroup]="formLogin" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại">
          <label for="phone">Phone number<span class="text-red">*</span></label>
          <input nz-input id="phone" placeholder="phone number" formControlName="phone"
            class="w-full rounded-lg" nzSize="large">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu">
          <label for="password">Password<span class="text-red">*</span></label>
          <nz-input-group nzSize="large" [nzAddOnAfter]="showPassword">
            <input id="password" [type]="hidePassword ? 'password' : 'text'" nz-input formControlName="password"
              class="w-full rounded-lg" placeholder="password">
            <ng-template #showPassword>
              <div class="cursor-pointer text-gray-400 rounded-r-lg w-12" (click)="hidePassword = !hidePassword">
                <i class="fa-solid" [ngClass]="hidePassword ? ' fa-eye' : ' fa-eye-slash'"></i>
              </div>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button class="w-full hover:shadow-2x bg-primary text-white p-2 font-medium text-lg rounded mb-2">Login</button>
      <a [routerLink]="[ '/auth/driver','register' ]">
        <div
          class="w-full hover:shadow-2x bg-red text-white p-2 font-medium text-lg rounded cursor-pointer text-center">
          Sign in
        </div>
      </a>
    </form>
  </div>
</div>
