::ng-deep nz-pagination ul{
  @apply flex;
};
::ng-deep .ant-pagination-item {
  @apply flex justify-center items-center;
}
::ng-deep nz-pagination > ul > li.ant-pagination-prev.ng-star-inserted> button{
  @apply flex justify-center items-center;
}
::ng-deep nz-pagination > ul > li.ant-pagination-next.ng-star-inserted> button{
  @apply flex justify-center items-center;
}
/* ::ng-deep nz-option-container > div > cdk-virtual-scroll-viewport{
  overflow: unset !important;
}
 */
