<div class="py-4 px-9">
  <app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
  <div class="mb-4 flex items-end flex-col w-full">
    <div>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm người dùng" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
  </div>
  <nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="listOfData.data"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  (nzPageIndexChange)="onPageChange($event)"
  [nzFrontPagination]="false"
  [nzTotal]="200"
  class="shadow-1x pt-4 px-4 rounded"
  >
    <thead>
      <tr>
        <th
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th *ngFor="let item of listHeadTable">{{ item }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>
          <div class="relative w-12 h-12 rounded-[50%] overflow-hidden bg-black flex items-center justify-center">
            <img [src]="data.avatar" width="48" height="48">
            <!-- <div class="absolute w-3 h-3 rounded-[50%] bottom-0 right-1" [ngClass]="data.active ? 'bg-green' : 'bg-red'"></div> -->
          </div>
        </td>
        <td>{{ data.fullname }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.location}}</td>
        <!-- <td>
          <nz-tag [nzColor]="data.role === 'driver' ? 'orange' : 'cyan'">{{ data.role }}</nz-tag>
        </td> -->
        <td>
         <div class="flex justify-center items-center">
          <a [routerLink]="[data.id]">
            <button class="flex justify-center items-center w-8 h-8 text-green mr-2 border border-solid border-green rounded p-3">
              <i class="fa-regular fa-eye"></i>
            </button>
          </a>
          <!-- <button class="flex justify-center items-center w-8 h-8 text-red border border-solid border-red rounded p-3" (click)="data.ban = !data.ban">
            <i class="fa-solid" [ngClass]="data.ban ? 'fa-lock': 'fa-lock-open'"></i>
          </button> -->
         </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
