<app-loader [progress]="progress"></app-loader>
<div class="py-4 px-9">
  <app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
  <div class="mb-4 flex items-center flex-row-reverse w-full">
    <div>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Tìm kiếm người dùng"
          (keydown.enter)="searchUsers()" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchUsers()">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
    <nz-select [(ngModel)]="selectedRole" (ngModelChange)="onRoleChange($event)" class="w-32 mr-2">
      <nz-option *ngFor="let option of listRole" [nzLabel]="option" [nzValue]="option"></nz-option>
    </nz-select>
    <div>
      <button
        class="flex justify-center items-center w-8 h-8 text-green mr-2 border border-solid border-green rounded p-3"
        (click)="getDataPaging(currentPage, 10)">
        <i class="fa-solid fa-rotate"></i>
      </button>
    </div>
  </div>
  <nz-table #rowSelectionTable #fixedTable [nzData]="listUser.data"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageChange($event)" [nzTotal]="listUser.totalElements" [nzPageIndex]="currentPage"
    [nzScroll]="{ x: '1150px'}" class="shadow-1x py-4 px-4 rounded">
    <thead>
      <tr>
        <!-- <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"
          class="w-20"></th> -->
        <th *ngFor="let item of listHeadTable">{{ item }}</th>
        <th *ngIf="selectedRole==='Driver'">Status</th>
        <th nzRight>Action</th>
      </tr>
    </thead>
    <tbody class="relative">
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.03)" size="default" color="#5850e6" type="ball-spin-clockwise-fade-rotating"
        [fullScreen]="false">
      </ngx-spinner>
      <tr *ngFor="let data of rowSelectionTable.data">
        <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
        <td class="relative">
          <div class="relative w-12 h-12 rounded-[50%] overflow-hidden bg-black flex items-center justify-center">
            <img [src]="data.avatar" width="48" height="48">
          </div>
        </td>
        <td>{{ data.fullname }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <nz-tag [nzColor]="selectedRole === 'Driver' ? 'orange' : 'cyan'">{{ selectedRole }}</nz-tag>
        </td>
        <td *ngIf="selectedRole === 'Driver'">
          <nz-tag [nzColor]="data.status === 'offline' ? 'red' : 'cyan'">{{ data.status }}</nz-tag>
        </td>
        <td nzRight>
          <div class="flex justify-center items-center">
            <a [routerLink]="selectedRole === 'Customer' ? ['customers'] : ['drivers']" [queryParams]="{id: data.id}">
              <button
                class="flex justify-center items-center w-8 h-8 text-green mr-2 border border-solid border-green rounded p-3">
                <i class="fa-regular fa-eye"></i>
              </button>
            </a>
            <button *ngIf="selectedRole === 'Driver'"
              class="flex justify-center items-center w-8 h-8 text-red border border-solid border-red rounded p-3"
              (click)="data.isVerified = verifyDriver(data.id, !data.isVerified)">
              <i class="fa-solid" [ngClass]="!data.isVerified ? 'fa-lock': 'fa-lock-open'"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>